## Open our dataset
Lets start by opening our csf file and have a look at it

In [1]:
import pandas as pd 
df = pd.read_csv("data/gradd.csv") 
df.head()

     x    y
0  204  100
1  390  198
2  399  197
3  440  220
4  455  225

Now copy out our X and y columns into series

In [6]:
import numpy as n
X = df["x"]
y = df["y"]

## Normalise X
Now, lets normalise X with the equation $ \frac{x-max(x)}{max(x)-min(x)}$

In [3]:
xn = X.subtract(X.max()).divide(X.max() - X.min())

Add a column of ones to X for easier matric manipulation of our hypothesis and cost function later

In [13]:
xo = xn.to_frame()
xo.insert(0,"ones",1)

## Gradient descent
Lets get some parameters together for gradient descent later on

In [14]:
repetition = 300
lrate = 0.5
theta = [0,0]

Perform gradient descent.
First calculate the cost with equation $h = \theta_{0} + \theta_{1} * xo_{i}$

In [17]:
m = len(xo)
costhistory = pd.DataFrame([0] * repetition, columns=['cost'])
for i in range(repetition):
    # calculate the cost into h
    h = xo.dot(theta).minus(y)
    # calculate new thetas
    #thetas(1) = thetas(1) - (lrate*(1/m)) * sum(h)